/* body{
    background-color: #73e464;
}
h1{
    color: #e35b5b;
    text-align: center;
}
p{
    color: #ee1111;
    text-align: center;
    font-family: Bahman;
    font-size: 40px;
}
.test{
    color: #093703;
    text-align: right;
    font-size: 50px ;
    font-family:B Nazanin ;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: 'Nunito Sans', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #fff;
}
.btn {
    font-size: 0.8rem;
    font-weight: 700;
}
.btn i{
    vertical-align: text-top;
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.divider-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    color: #999;
}
.divider{
    margin: 1.5rem 0;
}